.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  padding: 0 20px;
  border-bottom: 1px solid #f8f8f0;
  height: 70px;
}
.list-item-text {
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-item-text span {
  margin-right: 10px;
}

.list-item-link {
  display: block;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  background-color: #eaeaea;
  color: #213547;
  transition: border-color 0.25s;
}
.list-item-link:hover {
  border-color: #ababab;
  color: #213547;
}
